include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include pyproject.toml
recursive-include src/dvoacap/DVoaData *.dat
recursive-include docs *.rst *.md *.py
global-exclude *.pyc __pycache__ .DS_Store
